
<div class="row mt-5">
    <div class="col">
		<div class="card">
		  <div class="card-header">
			Last run
		  </div>
		  <div class="card-body">
			<p class="card-text">TODO - check last run / LEN and dates</p>
			<a href="#" class="btn btn-primary">Run</a>
		  </div>
		</div>
    </div>
	<div class="col">
		<div class="card">
		  <div class="card-header">
			Smth else
		  </div>
		  <div class="card-body">
			<p class="card-text">TODO - check report</p>
			<a href="#" class="btn btn-primary">Report</a>
		  </div>
		</div>
    </div>
</div>


